*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --blue50:hsl(240, 78%, 98%);
    --white:white;
    --gray650:hsl(233, 13%, 49%);
    --gray700:hsl(232, 13%, 33%);
    --gainsboro:gainsboro;
    --grayborder:rgb(201, 197, 197);
    --lightindigo:hsl(237, 73%, 79%);
    --bluemarin:hsl(238, 63%, 64%);
}
body{
    background-color:var(--blue50);
    color: var(--gray700);
    line-height: 1.4;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-image: url('images/bg-top.svg'), url('images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: contain contain;
}
.header{
    width: 100%;
    padding: 2em 0.5em;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
hr{
    border-top:1px;
}
.lead{
    color: var(--gray700);
    font-size: 1.9em;
    font-weight: 700;
}
.toggle-container{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}
label{
    font-size: 1em;
    font-weight: 700;
}
.toggle-container input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    inset: 0;
    z-index: 1;
}
.toggle-circle{
    background-image: linear-gradient(to left, var(--bluemarin), var(--lightindigo));
    border-radius: 25px;
    width: 50px;
    height: 30px;
    position: relative;
    margin-right: 5px;
}
.toggle-container input:focus-visible +.toggle-circle{
    outline: 3px solid var(--gray700);
    outline-offset: 3px;
}
.toggle-container input:hover +.toggle-circle{
    opacity: 0.5;
}
.toggle-circle::after{
    content:'';
    position: absolute;
    top:50%;
    left:21px;
    background-color: var(--blue50);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translateY(-50%);
        transition: left 0.3s ease-in-out;
}
.toggle-container input:checked +.toggle-circle::after{
left:2px;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding: 1.5em 0;
    margin: 0 auto 30px;
}
.container-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.article{
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    min-height: 400px;
    padding:2em 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    box-shadow: 0px 10px 20px var(--lightindigo);
    margin-bottom: 30px;
}
.article-master{
    width: 100%;
    min-height: 450px;
    background-image: linear-gradient(to top, var(--bluemarin), var(--lightindigo));
    border-radius: 10px;
    padding: 3.5em 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    box-shadow: 5px 10px 15px var(--bluemarin);
    margin-bottom: 30px;
}
.container-grid ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.container-grid ul li{
    padding: 0.25em 0;
}
.text-primary{
    color: var(--gray650);
    font-size: 1.2em;
    font-weight: 700;
}
.text-white{
    color: var(--white);
    font-size: 1.2em;
    font-weight: 700;
}
li .text-primary{
    font-size: 1em;
    margin-bottom: 10px;
}
li .text-white{
    font-size: 1em;
    margin-bottom:10px;
}
.text-heading{
    color: var(--gray700);
    font-size: 3.5em;
    font-weight: 700;
}
.text-headingWhite{
    color: var(--white);
    font-size: 3.5em;
    font-weight: 700;
}
hr{
    border-top:1px solid var(--blue50);
    width: 100%;
    max-width:300px;
    margin:0 auto;
}
.article-master hr{
    border: none;
    border-top: 1px solid var(--grayborder);
 }
 .article .list li{
    position: relative;
 }
 .article .list li::after{
    content:'';
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    width: 75%;
    border:1px solid var(--blue50);
    
 }
 .article-master .list li{
    position: relative;
 }
 .article-master .list li::after{
    content:'';
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width: 75%;
    border: 1px solid var(--grayborder);
 }
.btn-primary{
    cursor: pointer;
    background-image: linear-gradient(to right, var(--lightindigo), var(--bluemarin));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    padding: 13px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover{
    background-image: none;
    background-color: transparent;
    border:1px solid var(--gray650);
    color:var(--bluemarin)
}
.article-master .btn-primary{
    background-image: none;
    background-color: var(--white);
    color: var(--bluemarin);
}
.article-master .btn-primary:hover{
    background-color: transparent;
    border:1px solid var(--white);
    color:var(--white);
}
@media(max-width:1100px)
{
  .container-grid{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    max-width: 900px;
  }
  .btn-primary{
    width: 100%;
    max-width: 250px;
  }
}
@media(max-width:750px)
{
    body{
        background-position: 290px -25px,  left bottom;
    }
    .container-grid{
        grid-template-columns: 1fr;
    }
    .container{
        width: 100%;
        max-width: 400px;
    }
    .article{
        width: 100%;
        min-height: auto;
    }
    .article-master{
        min-height: auto;
    }
    .text-heading{
        font-size: 3.8em;
    }
    .btn-primary{
        margin-bottom: 5px;
    }  
}
@media(max-width:450px)
{
    body{
        background-position: 184px -37px, -280px 20px;
    }
    .container{
        width: 100%;
        max-width: 300px;
    }
}
@media (prefers-reduced-motion:reduce)
{
    *{
        transition: none !important;
        animation: none !important;
    }
} 